@tailwind base;
@tailwind components;
@tailwind utilities;


/* Your other custom CSS below */


/* styles.css */
.custom-bg {
  background-image: url('../Frontend/assets/aditya-chinchure-ZhQCZjr9fHo-unsplash.jpg');
  background-size: cover; /* Ensures the image covers the element */
  background-position: center; /* Centers the image */
}

::-webkit-scrollbar{
  width: 0.5px;
}