@tailwind base;
@tailwind components;
@tailwind utilities;


/* Your other custom CSS below */


body{
  background-color: rgb(240, 238, 235); /* Background color */
  background-image: radial-gradient(rgba(0, 0, 0, 0.02) 1px, rgba(0, 0, 0, 0) 1px); /* Radial gradient */
  background-size: 4px 4px; 
}

::-webkit-scrollbar{
  width: 0.5px;
}

